@page
@model Zira.RazorPages.Pages.ClientListModel

@{
    ViewData["Title"] = "Client List";
}

<h1>Client List</h1>
<form method="get">
    <div class="form-group">
        <label for="searchTerm">Search:</label>
        <input type="text" class="form-control" id="searchTerm" name="searchTerm" value="@Model.SearchTerm" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <button type="reset" class="btn btn-primary">Clear</button>
    <a asp-page="ClientCreate" class="btn btn-primary">Create</a>
</form>


<table class="table">
    <thead>
        <tr>
            <td class="centered">
                @Html.DisplayNameFor(model => model.Client[0].Name)
            </td>
            <td class="centered">
                @Html.DisplayNameFor(model => model.Client[0].Region)
            </td>
            <th class="centered">Actions</th>
            <th class="centered">Number of FactSheets</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Client)
        {
            <tr>
                <td class="centered">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="centered">
                    @Html.DisplayFor(modelItem => item.Region)
                <td class="centered">
                    <a asp-page="./ClientEdit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td class="centered">
                        @if (item.Details.FactSheets != null && item.Details.FactSheets.Any())
                        {
                            @Html.DisplayFor(modelItem => item.Details.FactSheets.Count)
                        }
                        else{
                            @Html.Raw("0")
                        }
                </td>
            </tr>
        }
    </tbody>
</table>
