@page
@model Zira.RazorPages.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    @if(Model.Details != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Details.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Details.FactSheets)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Details.FactSheets)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DocumentName)
                        </td>
                        <td>
                            <a asp-page="./FactSheetDetails" asp-route-id="@item.Id">Details</a>
                            <a asp-page="./FactSheetEdit" asp-route-id="@item.Id">Edit</a>
                            <a asp-page="./FactSheetDelete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>
<div>
    <a asp-page="./FactSheetCreate" asp-route-id=@Request.Query["id"]>Create Fact Sheet</a>
    <a asp-page="./ClientList">Back to List</a>
</div>
